/Finale
/fonts
/mus
/scanned
/christina/audio
christina/.*
/vanBasco*
/notes-sviridov*

*.MID
*.WAV
*.mid
*.midi
*.pdf
*.MUS
*.mus
*.BAK
*.FTM
*.txt
*.html
*.php
*.ps
*.zip
*.gz
*.wav
._*
*.log
*.JPG
*.jpg
*.eps
*.mp3
*~
*.swp
/.idea
